@media screen and (max-width: 700px){
    .header{

    }
    #q1{
        display: none;
    }
    #q2{
        margin-top: 0rem;
    }
    #q3{
        font-size: 30px;
        text-align: left;
    }
    #q4{
        font-size: 10px;
    }
    #q5{
        display: block;
        margin-left: 2rem;
        width: 16rem;
        justify-content: center;
    }
    #q6{
        display: block;
        text-align: center;
        margin-top: 0rem;
    }
    #q7{
        display: block;
        margin-left: 3rem;
        margin-right: 3rem;
    }

}