@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.nav--memu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav--menu-item{
    display: inline;
}
.nav--menu-item > a{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #222222;
    padding: 16px 18px;
    text-decoration: none;
}
.nav--menu-item >a:hover{
    color: #8E7BEF;
}
.navegator>ul{
    flex-direction: row;
    position: relative;
    justify-content: right;
    background-color: #FFFFFF;
}
.navegator{
   /* background-color: #222222;*/
    margin-left: 30%;
}
/*foto*/
.section-foto{
    margin-left: 10rem;
    justify-content: center;

}
.section--me-foto{
    display: inline-flex;
}
.section--me-items{
    margin: 4rem;
}
.section--me-h2{
    font-size: 50px;
    margin-bottom: 1rem;
}
.section--me-p{
    margin-bottom: 1rem;
}

.section--me-item2{
    display: inline-flex;
}
.section--me-item22{
    background-color: #8E7BEF;
    width: 3rem;
    height: 3rem;
    text-align: center;
    margin: .4rem;
    border-radius: 50%;
}
.section--me-img{
    margin: .5rem;
}


/*Acerca de mí*/
.titulo{
    background-color: #8E7BEF;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.about--info{
    text-align: center;
    margin: 2rem 12rem 2rem 14rem;
    display: flex;
}
.skill--me-items{
    display: inline-table;
    margin: 2rem 0rem 2rem 12rem;
    width: 14rem;
    height: 14rem;
    background-color: #8E7BEF;
}
.skill--me-items1{
    font-size: 20px;
    margin: .5rem;
    text-align: center;
}
.skill--me-items>p{
    margin: 1rem;
    text-align: justify;
}

/*Experience*/
.experience--me{
    text-align-last: center;
}
.experience--me-items-exp{
    display: inline-flex;
    margin: 1rem;
}
.experience--me-items-img{
    margin-left: 8rem;
    width: 80px;
    height: 80px;
}
.experience--me-items-h2{
    margin-right: 1rem;
}
/*Portafolio*/
.design--me{
    text-align-last: center;
}
.design--me-img{
    display: inline-flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 250px;
    height: 250px;

}
/*Contact*/
.contact{
    text-align-last: center;
}
.contact-me{
    display: inline-flex;

}
.contact-me-img{
    border-style: solid;
    border-radius: 20px;
    border-color: #f9f5f2;
    background-color: #f9f5f2;
    width: 5rem;
    height: 5rem;
}
.contact-me-item{
    margin: 3rem;

}
.contact-me-p{
    text-align: center;
}
